<h1>Sign up as a new user</h1>
<% @user.password = @user.password_confirmation = nil %>

<% semantic_form_for @user do |form| %>
  <% form.input_field_set do %>
    <%= form.input :login, :hint => "This will be your displayed name that you use when logging in." %>
    <%= form.input :email %>
    <%= form.input :password, :as => :password %>
    <%= form.input :password_confirmation, :as => :password %>
  <% end -%>
  
  <p><%= form.commit_button "Signup" %></p>
<% end -%>
